<div class="search-field">
  <input
    type="text"
    placeholder="Search scenes..."
    [(ngModel)]="searchTerm"
    (input)="applyFilter()"
  />
  <span>({{filteredScenes.length}})</span>
</div>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Intro Track</th>
      <th>Tags</th>
      <th style="width: 250px;">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <input [(ngModel)]="newScene.title" placeholder="Title" />
      </td>

        <td>
          <input
              [(ngModel)]="introTrackInput"
              [attr.list]="'track-options'"
              placeholder="Intro Track Title"
          >

          <datalist id="track-options">
              @for (track of tracks; track track.id) {
              <option [value]="track.title"></option>
              }
          </datalist>
        </td>

      <td>
        <input [(ngModel)]="tagsInput" placeholder="Tags (comma separated)" />
      </td>

      <td>
        <button (click)="addScene()">Add</button>
      </td>
    </tr>
    @for (scene of filteredScenes; track scene.id) {
      <wit-scene-row (changeEvent)="loadScenes()" [scene]="scene"></wit-scene-row>
    }
  </tbody>
</table>
