<input
  type="text"
  placeholder="Search scenes..."
  [(ngModel)]="searchTerm"
  (input)="applyFilter()"
/>
<span>({{filteredScenes.length}})</span>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Intro Track</th>
      <th>Tags</th>
      <th style="width: 250px;">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <input [(ngModel)]="newScene.title" placeholder="Title" />
      </td>

        <td>
        <input
            [(ngModel)]="introTrackInput"
            [attr.list]="'track-options'"
            placeholder="Intro Track Title"
        >

        <datalist id="track-options">
            @for (track of tracks; track track.id) {
            <option [value]="track.title"></option>
            }
        </datalist>
        </td>

      <td>
        <input [(ngModel)]="tagsInput" placeholder="Tags (comma separated)" />
      </td>

      <td>
        <button (click)="addScene()">Add</button>
      </td>
    </tr>
    @for (scene of filteredScenes; track scene.id) {
      <tr class="scene-row" (click)="toggleSceneMoreInfo(scene.id)">

        <!-- TITLE -->
        <td>
          @if (editingSceneId === scene.id) {
            <input [(ngModel)]="editBuffer.title" />
          } @else {
            {{ scene.title }}
          }
        </td>

        <!-- INTRO TRACK-->
        <td>
            @if (editingSceneId === scene.id) {
                <input [(ngModel)]="editBuffer.introTrack">
            } @else {
                {{ scene.introTrack?.title }}
            }
        </td>

        <!-- TAGS -->
        <td>
          @if (editingSceneId === scene.id) {
            <input [(ngModel)]="editBuffer.tags" placeholder="comma separated" />
          } @else {
            {{ scene.moodTags.join(', ') }}
          }
        </td>

        <!-- ACTIONS -->
        <td>
          @if (editingSceneId === scene.id) {
            <button (click)="saveEdit()">Save</button>
            <button (click)="cancelEdit()">Cancel</button>
          } @else {
            <button (click)="startEdit(scene)">Edit</button>
            <button (click)="playScene(scene.id)">Play</button>
            <button (click)="deleteScene(scene.id)">Delete</button>
          }
        </td>

      </tr>

      @if (expandedSceneId === scene.id) {
        <tr class="expanded-row">
          <td colspan="4">

            <div class="expanded-content">

              <h4>Matching Tracks</h4>

              @for (track of getTracksForScene(scene); track track.id) {
                <div class="track-item">
                  <strong>{{ track.title }}</strong>
                  <span>{{ track.artist }}</span>
                </div>
              }

              @if (getTracksForScene(scene).length === 0) {
                <p class="empty">No matching tracks</p>
              }

            </div>

          </td>
        </tr>
      }
    }
  </tbody>
</table>
