<div class="layout">

  <!-- MAIN CONTENT -->
  <div class="main">

    <!-- Tabs -->
    <div class="tabs">
      <button
        [class.active]="activeTab === 'tracks'"
        (click)="setTab('tracks')">
        Tracks
      </button>

      <button
        [class.active]="activeTab === 'scenes'"
        (click)="setTab('scenes')">
        Scenes
      </button>

      <button
        [class.active]="activeTab === 'campaigns'"
        (click)="setTab('campaigns')">
        Campaigns
      </button>

      <button
        [class.active]="activeTab === 'properties'"
        (click)="setTab('properties')">
        Properties
      </button>

      <button
        [class.active]="activeTab === 'tags'"
        (click)="setTab('tags')">
        Tags
      </button>
    </div>

    <!-- Tab content -->
    <div class="tab-content">
      @if (activeTab === 'tracks') {
        <wit-track-view />
      }

      @if (activeTab === 'scenes') {
        <wit-scene-view />
      }

      @if (activeTab === 'campaigns') {
        <wit-campaign-view />
      }

      @if (activeTab === 'properties') {
        <wit-property-view></wit-property-view>
      }

      @if (activeTab === 'tags') {
        <wit-tag-view></wit-tag-view>
      }

    </div>

  </div>

  <!-- SIDEBAR -->
   <wit-sidebar></wit-sidebar>

</div>